@font-face {
    font-family: 'Airbnb Cereal App Book';
    font-style: normal;
    font-weight: normal;
    src: local('Airbnb Cereal App Book'), url('AirbnbCerealBook.woff') format('woff');
    }
    
    
    @font-face {
    font-family: 'Airbnb Cereal App Light';
    font-style: normal;
    font-weight: normal;
    src: local('Airbnb Cereal App Light'), url('AirbnbCerealLight.woff') format('woff');
    }
    
    
    @font-face {
    font-family: 'Airbnb Cereal App Medium';
    font-style: normal;
    font-weight: normal;
    src: local('Airbnb Cereal App Medium'), url('AirbnbCerealMedium.woff') format('woff');
    }
    
    
    @font-face {
    font-family: 'Airbnb Cereal App Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Airbnb Cereal App Bold'), url('AirbnbCerealBold.woff') format('woff');
    }
    
    
    @font-face {
    font-family: 'Airbnb Cereal App Extra Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Airbnb Cereal App Extra Bold'), url('AirbnbCerealExtraBold.woff') format('woff');
    }
    
    
    @font-face {
    font-family: 'Airbnb Cereal App Black';
    font-style: normal;
    font-weight: normal;
    src: local('Airbnb Cereal App Black'), url('AirbnbCerealBlack.woff') format('woff');
    }

html {
    background-color: white;
    font-family:'Airbnb Cereal App Book';
    font-size: 16px;
    overflow-y: scroll;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
}

h1 {
    font-family:'Airbnb Cereal App Medium';
}

#intro-mercari:link, #intro-mercari:visited {
    color: black;
    text-decoration: none;
  }
  
#intro-mercari:hover, #intro-mercari:active {
    color: #5e6df2;
    text-decoration: none;
}

#intro-tripadvisor:link, #intro-tripadvisor:visited {
    color: black;
    text-decoration: none;
}
  
#intro-tripadvisor:hover, #intro-tripadvisor:active {
    color: #00af87;
    text-decoration: none;
}